<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kavy.springsecuritydemo.mapper.UserMapper">


    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, password,updatetime,status) VALUES (#{username}, #{password},#{updatetime},#{status});
    </insert>
    <select id="findByUsername" parameterType="String" resultType="User">
    SELECT id, username, password from user where username = #{username};
    </select>

    <select id="queryByUsername" parameterType="String" resultType="User">
    SELECT id, username, password from user where username = #{username};
    </select>




</mapper>